@{
    this.ViewData["Title"] = "About";
}

<html>
<head>
    <title>Gaming Forum</title>
</head>
<body>
    <h2 style="text-align: center; color: black; font-weight: bold;">About the project</h2>
    <br />
    <br />
    <p style="text-align: center; color: black; font-weight: bold;"><b>BGF or Best Gaming Forum</b> is an online platform for sharing experiences about gaming - from gamers, for gamers.</p>
    <br />
    <p style="text-align: center; color: black; font-weight: bold;">The developers spent countless hours in rooms with little to no sunlight to create a forum for people who spent countless hours in rooms with little to no sunlight.</p>
    <br />
    <p style="text-align: center; color: black; font-weight: bold;">Project created by Vladimir Chavdarov, Ivan Churov and Peter Popov.</p>
    <br />
</body>
</html>
