@model APTEKA_Software.Models.ViewModels.ItemViewModel
@{
    ViewData["Title"] = "Създай артикул";
    Layout = "_Layout";
}

<div class="container">
    <h2>Създай артикул</h2>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="ItemName">Име</label>
            <input asp-for="ItemName" name="ItemName" class="form-control" />
            <span asp-validation-for="ItemName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SalePrice">Цена за една бройка</label>
            <input asp-for="SalePrice" name="SalePrice" class="form-control" />
            <span asp-validation-for="SalePrice" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Създай</button>
    </form>
</div>
