@using APTEKA_Software.Helpers
@using APTEKA_Software.Models
@inject AuthManager authManager

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Apteka Software - @ViewData["Title"]</title>
    <!-- Добавете тук всички необходими CSS файлове -->
</head>
<body class="border-0 bd-example">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">Apteka Software</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Items">Артикули</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Users">Потребители</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (authManager.CurrentUser == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Users/Login">Вход</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Users/Register">Регистрация</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <span class="nav-link">Влезнал като: <strong>@authManager.CurrentUser.Username</strong></span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Users/Logout">Изход</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="d-flex justify-content-center">
        <small>© @DateTime.Now.Year, Apteka Software</small>
    </footer>
    <!-- Останалите скриптове -->
</body>
</html>