@{
	this.ViewData["Title"] = "Create a new beer";
	this.ViewData["Action"] = "Create";
	this.ViewData["SubmitButton"] = "Create";
	this.ViewData["BeerFormVisibility"] = "block";
}

<h2>Create a new beer</h2>

<partial name="_BeerForm" />

<br/>
