@model APTEKA_Software.Models.ViewModels.ItemViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Направи продажба";
    Layout = "_Layout";
}

<div class="container">
    <h2>Направи продажба</h2>
    <p>
        <a class="nav-link" asp-controller="Items" asp-action="Index">Обратно към списъка с артикули</a>
    </p>

    <form asp-controller="Sales" asp-action="MakeSale" method="post">
        <div class="form-group">
            <label for="ItemName">Име:</label>
            <input type="text" class="form-control" id="ItemName" name="ItemName" value="@Model.ItemName" />
        </div>
        <div class="form-group">
            <label for="RemainingQuantity">Оставащо количество:</label>
            <input type="text" id="RemainingQuantity" class="form-control" value="@Model.AvailableQuantity">
        </div>
        <div class="form-group">
            <label for="SalePrice">Цена на артикула:</label>
            <input type="text" id="SalePrice" class="form-control" value="@Model.SalePrice">
        </div>
        <div class="form-group">
            <label for="QuantitySold">Количество за продажба:</label>
            <input type="number" id="QuantitySold" class="form-control" name="QuantitySold" min="1" max="@Model.AvailableQuantity">
        </div>
        <button type="submit" class="btn btn-primary">Направи продажба</button>
    </form>
</div>
