@{
    this.ViewData["Title"] = "Home";
}

<h2>Welcome to BeerOverflow</h2>
<img src="~/images/logo.png" />
<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
