@model List<APTEKA_Software.Models.ViewModels.UserViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Потребителско име</th>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Дата на регистрация</th>
            <th>Детайли</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.DateRegistered.ToShortDateString()</td>
                <td>
                    <a class="nav-link" href="/Users/Edit/@user.UserId">Редактирай</a>
                    <a class="nav-link" href="/Users/ConfirmDelete/@user.UserId">Изтрий</a>
                    <a class="nav-link" href="/Users/Detail/@user.UserId">Детайли</a>
                </td>
            </tr>
        }
    </tbody>
</table>
