@model Comment


<div class="container card-body mx-auto" style="max-width: 600px;">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h5 class="text-center" style="color: black;">
                <a class="display-4">Are you sure you want to delete this comment?</a><br />
            </h5>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="form-group">
                <form asp-controller="Comments" asp-action="Delete" method="post">
                    <input type="submit" value="Delete" class="btn btn-dark btn-block" />
                </form><br />
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.PostId" class="btn btn-outline-secondary btn-block">Back</a>
            </div>
        </div>
    </div>
</div>