<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>BeerOverflow - Error</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<div>
			<h3>
				<a href="/Home/Index" class="nav">Home</a> 
				| <a href="/Beers/Index" class="nav">Beers</a> 
				| <a href="/Home/About" class="nav">About</a> 
				| <a href="/api/swagger" class="nav">Developer API</a>
			</h3>
		</div>
	</header>

	<div class="body-content">
		<h2 class="label-error">Oops...something went wrong :(</h2>
		<p>
			Status Code: @this.Context.Response.StatusCode<br />
			Message: @this.ViewData["ErrorMessage"]
		</p>
	</div>

	<footer>
		<small>© Copyright @DateTime.Now.Year, BeerOverflow</small>
	</footer>
</body>
</html>
