@model AspNetCoreDemo.Models.BeerViewModel
<form asp-controller="Beers" asp-action="@this.ViewData["Action"]" method="post">
	<div class="@this.ViewData["NameVisibility"]">
		<label asp-for="Name" class="form-label"></label>
		<br />
		<input asp-for="Name" type="text" class="form-input" />
		<br />
		<span asp-validation-for="Name" class="form-error"></span>
	</div>
	

	<label asp-for="Abv" class="form-label"></label>
	<br />
	<input asp-for="Abv" type="number" class="form-input" />
	<br />
	<span asp-validation-for="Abv" class="form-error"></span>

	<label asp-for="StyleId" class="form-label"></label>
	<br />
	<select asp-items="@Model.Styles" asp-for="StyleId" class="form-input"></select>
	<br />
	<span asp-validation-for="StyleId" class="form-error"></span>

	<input type="submit" value="@this.ViewData["ButtonText"]" class="btn-primary" />
	<a asp-controller="Beers" asp-action="Index" class="nav">Back</a>
</form>
