@model AspNetCoreDemo.Models.BeerViewModel;

@{
	this.ViewData["Action"] = "Edit";
	this.ViewData["ButtonText"] = "Save";
	this.ViewData["NameVisibility"] = "name-hidden";
}

<h2>@this.Model.Name</h2>

<partial name="_BeerForm" />