@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Добре дошли в Apteka Software</h1>
    <p class="lead">Най-доброто софтуерно решение за управление на вашата аптека.</p>
</div>

<div class="container text-right">
    <p>
        <span class="font-weight-bold">Днес: <span id="currentDate"></span></span>
    </p>
    <p>
        <span class="font-weight-bold"> <span id="currentTime"></span></span>
    </p>
</div>

<script>
    var currentDate = new Date().toLocaleDateString("bg-BG", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
    var currentTime = new Date().toLocaleTimeString("bg-BG", { hour: 'numeric', minute: 'numeric', hour12: true });

    document.getElementById("currentDate").textContent = currentDate;
    document.getElementById("currentTime").textContent = currentTime;
</script>
