@{
    this.ViewData["Title"] = "About";
    Layout = "_Layout";
}

<html>
<head>
    <title>Apteka Software</title>
</head>
<body>
    <style>
        .no-bullet {
            list-style-type: none;
            padding-left: 0;
        }
    </style>

    <div class="container text-center mt-5">
        <h1 class="display-4">За проекта:</h1>
        <p class="lead">
            Проектът е създаден от Петър Попов и използва следните технологии и инструменти:
            <ul class="no-bullet">
                <li>VisualStudio 2022</li>
                <li>SQL Management Studio + Entity Framework</li>
                <li>ASP.Net Core</li>
                <li>MVC</li>
                <li>Razor Pages Views</li>
                <li>API контролери</li>
            </ul>
        </p>
    </div>

    <div class="container text-center mt-5">
        <h1 class="display-4">За мен:</h1>
        <p class="lead">
            <a href="https://gitlab.com/peterpopov250">GitLab</a> |
            <a href="https://www.linkedin.com/in/peter-popov-dev/">LinkedIn</a> |
            <a href="https://github.com/peterpo2/PeterPopovRepo">GitHub</a> |
            <a href="https://app.enhancv.com/share/8c8f9386/?utm_medium=growth&utm_campaign=share-resume&utm_source=dynamic">CV</a>
        </p>
    </div>
</body>
</html>
