html {
  font-size: 14pt;
}

header {
  text-align: center;
  border-bottom: 1px solid #141414;
}

header .title {
  font-size: 2em;
  margin-bottom: 0;
}

header .message {
  font-size: 1em;
  font-style: italic;
}

#programs {
  display: grid;

  grid-template-columns: auto auto auto;
  grid-gap: 40px;
  padding: 30px 50px;

  border-bottom: 1px solid #141414;
  text-align: center;
}

#programs .details {
  background-color: #00dd34af;
  padding: 20px;
}

#programs .details .title {
  font-size: 2em;
  margin-bottom: 20px;
}

#programs .details a {
  display: block;
  margin-top: 20px;
}

#programs .details button {
  background-color: #676767;
  color: #FFF;

  border: 0;
  padding: 10px 30px;
}

#contact-form {
  width: 15%;
  margin: 0 auto;
}

#contact-form .form-group {
  margin: 10px 0;
}

#contact-form .form-group input {
  float: right;
}

#contact-form .form-group input[type="radio"] {
  float: none;
}

#contact-form .form-group .help-radio-label {
  display: block;
  margin-top: 40px;
  margin-bottom: 10px;
}

#contact-form button {
  border: 0;
  padding: 10px 20px;
}

#contact-form button[type="submit"] {
  background-color: #00dd34af
}