@model APTEKA_Software.Models.Item

<h2>Сигурни ли сте, че искате да изтриете артикула "@Model.ItemName"?</h2>
<form method="post" action="@Url.Action("ConfirmDelete", "Items")">
    <input type="hidden" name="id" value="@Model.ItemId" />
    <input type="hidden" name="confirm" value="true" />
    <input type="submit" value="Да" class="btn btn-danger" />
</form>
<form method="get" action="@Url.Action("Index", "Items")">
    <input type="submit" value="Не" class="btn btn-secondary" />
</form>




