@using APTEKA_Software.Models.ViewModels
@model List<ItemViewModel>
@{
    ViewData["Title"] = "Списък с артикули";
}
@{
    Layout = "_Layout";
}

<div class="container">
    <h2>Списък с артикули</h2>
    <div class="d-flex">
        <a class="nav-link mr-3" href="Items/Create/">Създай Нов Артикул</a>
    </div>
    @using (Html.BeginForm("FilteredItems", "Items", FormMethod.Get))
    {
        <div class="form-group">
            @Html.DropDownList("filterByItem", new SelectList(ViewBag.ItemNames), "Изберете артикул", new { @class = "form-control" })
            <button type="submit" class="btn btn-primary">Филтрирай</button>
        </div>
    }
    <table class="table">
        <thead>
            <tr>
                <th>Име</th>
                <th>Наличност</th>
                <th>Цена за една бройка</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td>@item.AvailableQuantity</td>
                    <td>@item.SalePrice</td>
                    <td>
                        <a class="nav-link text-success" href="/Sales/MakeSale/@item.ItemId">Направи продажба</a>
                        <a class="nav-link text-info" href="/Delivery/MakeDelivery/@item.ItemId">Направи доставка</a>
                        <a class="nav-link text-warning" href="/Items/Edit/@item.ItemId">Редактирай артикул</a>
                        <a class="nav-link text-danger" href="/Items/ConfirmDelete/@item.ItemId">Изтрий артикул</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
