@{
    this.ViewData["Title"] = "Delete";
}

@model Beer

<h2>Delete <b>@this.Model.Name</b>?</h2>

<form asp-controller="Beers" asp-action="Delete" method="post">
    <input type="submit" value="Delete" class="btn-danger" />
</form>

<br/>
<a asp-controller="Beers" asp-action="Index" class="btn btn-outline-secondary">Back</a>