@model PostViewModel;


<div>
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center text-dark font-weight-bold">@this.ViewData["Title"]</h4>


        <br />

        <form asp-controller="Posts" asp-action="@this.ViewData["Action"]" method="post">
            <div class="form-group mb-3">
                <textarea asp-for="Title" class="form-control" placeholder="Title" type="text" rows="2"></textarea>
                <span asp-validation-for="Title" class="text-dark" style="color: black;"></span>
            </div>
            <div class="form-group mb-3">
                <textarea asp-for="Content" class="form-control" placeholder="Content" type="text" rows="4"></textarea>
                <span asp-validation-for="Content" class="text-dark" style="color: black;"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-dark btn-block">@this.ViewData["SubmitButton"]</button>
                <a asp-controller="Posts" asp-action="Index" type="" class="btn btn-outline-secondary btn-block">Back</a>
            </div> <!-- form-group// -->
        </form>
    </article>
</div>
