@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>BeerOverflow - Home</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<div>
			<h3>
				<a asp-controller="Home" asp-action="Index" class="nav">Home</a>
				| <a asp-controller="Beers" asp-action="Index" class="nav">Beers</a>
				| <a asp-controller="Home" asp-action="About" class="nav">About</a>
				| <a href="/api/swagger" class="nav">Developer API</a>
			</h3>
		</div>
	</header>

	<div class="body-content">
		<h2>Welcome to BeerOverflow</h2>
		<img src="~/images/logo.png" />
		<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
	</div>

	<footer>
		<small>© Copyright @DateTime.Now.Year, BeerOverflow</small>
	</footer>
</body>
</html>
