@{
    this.ViewData["Title"] = "About";
}

<html>
<head>
    <title>Apteka Software</title>
</head>
<body>
    <h2 style="text-align: center; color: black; font-weight: bold;">About the project</h2>
    <br />
    <br />
    <p style="text-align: center; color: black; font-weight: bold;">Project created by Peter Popov.</p>
    <br />
</body>
</html>
