@inject IStylesService stylesService;
@model Beer;
@{
    var styles = new SelectList(this.stylesService.GetAll(), "Id", "Name");
}
<form asp-controller="Beers" asp-action="@this.ViewData["Action"]" method="post">
    <div style="display: @this.ViewData["BeerFormVisibility"]">
        <label asp-for="Name" class="form-label"></label>
        <br />
        <input asp-for="Name" type="text" class="form-input" />
        <br />
        <span asp-validation-for="Name" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Abv" class="form-label"></label>
        <br />
        <input asp-for="Abv" type="number" step="any" class="form-input" />
        <br />
        <span asp-validation-for="Abv" class="form-error"></span>
    </div>
    <div>
        <label asp-for="StyleId" class="form-label"></label>
        <br />
        <select asp-items="@styles" asp-for="StyleId" class="form-input"></select>
        <br />
        <span asp-validation-for="StyleId" class="form-error"></span>
    </div>
    <div>
        <input type="submit" value="@this.ViewData["SubmitButton"]" class="btn btn-primary" />
    </div>
</form>